workflows/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "folderId": "YOUR_FOLDER_ID",
        "options": {}
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-specdec",
        "prompt": "={{ $node[\"Google Drive Trigger\"].json[\"content\"] }}",
        "options": {}
      },
      "name": "Groq LLM Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Post-processing logic for Clara Pipeline\nconst data = items[0].json;\nreturn {\n  account_id: data.company_name.toLowerCase().replace(/\\s+/g, '-'),\n  status: 'v1 Ready'\n};"
      },
      "name": "Code Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Groq LLM Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM Node": {
      "main": [
        [
          {
            "node": "Code Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
